---
import Detail from '../layouts/Detail.astro';
import { Image } from 'astro:assets';
import ffHome from '../../public/ff-home.png';
import ffOnboarding from '../../public/ff-onboarding.png';
import ffAccount from '../../public/ff-account.png';
import ffBrowse from '../../public/ff-browse.png';
import ffCalendar from '../../public/ff-calendar.png';
---

<Detail>
    <h2>Fabfixe</h2>
    <p class="mt-2">App for booking live video tutorials with professionals during Covid. Built with React, Next.js, Twilio Video API, PayPal API, and MongoDB</p>
    <hr class="mt-4">
	<section>
        <a class="fancy-link" href="https://github.com/Fabfixe/fabfixe">View Code</a>
        <Image src={ffHome} alt="FabFixe" class="mt-4 w-full" />
        <Image src={ffOnboarding} alt="FabFixe" class="mt-4 w-full" />
        <Image src={ffAccount} alt="FabFixe" class="mt-4 w-full" />
        <Image src={ffCalendar} alt="FabFixe" class="mt-4 w-full" />
        <Image src={ffBrowse} alt="FabFixe" class="mt-4 w-full" />
    </section>
</Detail>
<style>

</style>