---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import me from '../../public/me.png';
import nytWork from '../../public/nyt-work-lg.png';
import hearstWork from '../../public/hearst-work.png';
import remoteLA from '../../public/remote-la.png';
import pt from '../../public/pt.png';
import fabfixe from '../../public/fabfixe.png';
import future from '../../public/future.png';
---

<Layout>
	<section class="text-center flex flex-col md:flex-row md:text-left">
		<div class="basis-1/2 md:order-2">
			<Image src={me} alt="Carron White selfie" class="mt-4 mx-auto" />
		</div>
		<div class="basis-1/2 md:order-1">
			<div class="lg:absolute lg:w-[46%] 2xl:w-[30%]">
				<h1 class="text-4xl leading-tight xl:text-5xl lg:leading-tight">Hi, I'm <span class="decoration-4 underline-offset-8 underline decoration-lime">Carron</span>, <br />welcome to my home on the web!</h1>
				<h3 class="text-l mt-2 text-white font-base leading-normal shadow-sm">
				I help startups turn bold ideas into functional MVPs that lay the groundwork for scale. I build scalable web applications, craft robust design systems, and develop clear, effective documentation strategies that keep teams aligned. I’m always experimenting with new technologies, pushing what’s possible, and sharpening my skills to deliver better results.
					<br />
					<span class="gradient-text mt-2">&#8212; New Orleans based</span>
					<br/>
					<span class="gradient-text">&#8212; Powered by okra</span>
				</h3>
				<p class="font-sans mt-6"><a class="fancy-link" href="mailto:carronwhite@gmail.com">Let's Chat</a></p>	
			</div>
		</div>
	</section>
	<hr class="w-full mt-40 h-[1px] mx-auto my-auto bg-gray-100 border-0">

	<section class="text-center md:text-left">
		<div>
			<h2 class="font-display text-3xl mt-10">Skills</h2>
			<ul class="text-xl mt-2 md:grid grid-cols-2 grid-rows-1">
				<div>
					<li>React</li>
					<li>Typescript</li>
					<li>Node.js</li>
					<li>Express.js</li>
					<li>GraphQL</li>
				</div>
				<div>
					<li>Next.js</li>
					<li>Sass</li>
					<li>TailwindCSS</li>
					<li>MongoDB</li>
					<li>Storybook</li>
				</div>
			</ul>
		</div>
		<hr class="w-full mt-10 h-[1px] mx-auto my-auto bg-gray-100 border-0">
	</section>
	<section class="text-left">
		<h2 class="mt-10">Work</h2>
		<h4 class="mt-2">Professional</h4>
		<ul class="md:grid grid-rows-1 grid-cols-2 gap-6 mt-4">
			<li>
				<a href="/portfolio/nyt/">
					<Image src={nytWork} alt="Games projects" class="mt-4 w-full" />
				</a>
				<h5>New York Times Games</h5>
			</li>
			<li>
				<a href="/portfolio/hearst/"><Image src={hearstWork} alt="Hearst projects" class="mt-4 w-full" /></a>
				<h5>Hearst Digital Media</h5>
			</li>
		</ul>
		<h4 class="mt-10">Personal Projects/Experiments</h4>
		<ul class="mt-4 md:grid grid-rows-1 grid-cols-2 gap-6">
			<li>
				<a href="/portfolio/future">
					<Image src={future} alt="Future screenshot" class="mt-4 w-full" />
					<h5>Future</h5>
				</a>
			</li>
			<li>
				<a href="/portfolio/remote/"><Image src={remoteLA} alt="Remote LA" class="mt-4 w-full" /></a>
				<h5>Remote from Louisiana</h5>
				
			</li>
			<li>
				<a href="/portfolio/fabfixe/"><Image src={fabfixe} alt="FabFixe" class="mt-4 w-full" /></a>
				<h5>Fabfixe</h5>
			</li>
			<li>
				<a href="/portfolio/pt/">
					<Image src={pt} alt="PrettyTendr" class="mt-4 w-full" />
				</a>
				<h5>PrettyTendr</h5>
			</li>
		</ul>
	</section>

</Layout>
<style>
	li {
		@apply mt-2 relative;
	}
</style>
