---
interface Props {
	greeting?: string;
	title?: string;
	description?: string;
	ctaHref?: string;
	ctaText?: string;
}
const {
	greeting = "Hi, I'm Carron.",
	title = "I'm a senior full-stack developer and solutions architect.",
	description = "I have been sharing my need for speed since 1998 when I started hacking on the internet. I help businesses build elegant, robust and scalable software with the best tools.",
	ctaHref = '#projects',
	ctaText = 'View My Work',
}: Props = Astro.props;
---

<div class="hero">
	<div class="hero-content container">
		<p class="hero-greeting">{greeting}</p>
		<h1>{title}</h1>
		<p class="hero-description">{description}</p>
		{ctaText && (
			<a href={ctaHref} class="hero-cta">{ctaText}</a>
		)}
	</div>
</div>
